<div class="main-container">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vivero El Otoño</a>
    </div>
  </nav>
  <div class="container">
    <img
      class="wallpaper"
      src="https://c.wallhere.com/photos/7f/ca/plants_green_nature_leaves_photography-2117193.jpg!d"
      alt="plants wallpaper"
    />
    <app-plant-list></app-plant-list>
  </div>
  <footer>
    <p>
      Contáctanos: +57 3102105253 - info&#64;viveroelotonio.com -
      &#64;viveroelotonio
    </p>
  </footer>
</div>
